@font-face {
    font-family: 'Soehne Buch';
    font-style: regular;
    font-weight: 400;
    src: url('./soehne-buch.woff2') format('woff2');
}

@font-face {
    font-family: 'Soehne Buch Kursiv';
    font-style: italic;
    font-weight: 400;
    src: url('./soehne-buch-kursiv.woff2') format('woff2');
}

@font-face {
    font-family: 'Soehne Kraeftig';
    font-style: regular;
    font-weight: 500;
    src: url('./soehne-kraftig.woff2') format('woff2');
}

@font-face {
    font-family: 'Soehne Dreiviertelfett';
    font-style: regular;
    font-weight: 700;
    src: url('./soehne-dreiviertelfett.woff2') format('woff2');
}

@font-face {
    font-family: 'Soehne Dreiviertelfett Kursiv';
    font-style: italic;
    font-weight: 700;
    src: url('./soehne-dreiviertelfett-kursiv.woff2') format('woff2');
}

@font-face {
    font-family: 'Soehne Schmal Dreiviertelfett';
    font-style: regular;
    font-weight: 700;
    src: url('./soehne-schmal-dreiviertelfett.woff2') format('woff2');
}